<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>question</key>
            <string>问题1：逛鱼APP是否安全？</string>
            <key>answer</key>
            <string>答：网站通过HTTPS加密传输，信息安全有保障；逛鱼APP不需要您输入任何密码，无隐私泄露问题。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题2：申请提现后，什么时候能到账？</string>
            <key>answer</key>
            <string>答：申请提现后1个工作日内到账，节假日不处理转账。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题3：什么是预估订单返现？</string>
            <key>answer</key>
            <string>答：“预估订单返现”是指订单未结算时的返现金额总和，每月28日结算后，预估订单返现会计入到“可提现金额”里。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题4：什么是预估订单奖励？</string>
            <key>answer</key>
            <string>答：我的逛友通过逛鱼APP完成商品购买，并且订单处于已结算状态时，那么订单奖励金会计入到我的“预估订单奖励”里。每月28日结算后，预估订单奖励会计入到“可提现金额”里。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题5：逛鱼APP使用的流程是什么样的？</string>
            <key>answer</key>
            <string>答：
1.复制淘宝商品标题或京东商品链接。
2.打开逛鱼APP，自动弹出查询确认框，点击确定，自动搜索商品。
3.点击搜索出来的商品，逛鱼APP会自动帮助您打开淘宝或京东。
4.打开淘宝后会弹出商品确认框，点击打开按钮。
5.完成商品购买。
6.如果您第一次使用逛鱼APP购买淘宝商品，那么需要你在逛鱼APP提交一个属于您的订单号，如果已提交过订单号，那么可忽略该步骤；如果购买京东的商品，那么需要您每次购买完商品后，手工在逛鱼APP提交订单号。
7.等待订单匹配，订单匹配最快15分钟，最迟次日。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题6：已确认收货的订单失效了？</string>
            <key>answer</key>
            <string>答：这种订单属维权订单，是确认收货之后去申请退款了，属于失效订单。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题7：我下单了，逛鱼里怎么没显示订单和返现？</string>
            <key>answer</key>
            <string>答：跑单的几种情况如下
1.领券后从返利网购买
2.使用支付宝红包奖励金购买
3.看了宝贝后当时没买，收藏了，从收藏夹购买
4.领券了后当时没买，后面从曾经浏览宝贝里面购买
5.与店铺优惠活动叠加使用
6.使用集分宝购买
7.使用淘金币购买
8.农村淘宝</string>
        </dict>
    </array>
</plist>
