<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>question</key>
            <string>问题1：逛鱼搜索是否安全？</string>
            <key>answer</key>
            <string>答：网站通过HTTPS加密传输，信息安全有保障；逛鱼搜索不需要您输入任何密码，无隐私泄露问题。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题2：申请提现后，什么时候能到账？</string>
            <key>answer</key>
            <string>答：申请提现后一个工作日内到账，节假日不处理转账。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题3：为什么只能提上月的订单返现？</string>
            <key>answer</key>
            <string>答：淘宝、京东未给逛鱼结算时，逛鱼无法为用户提前结算。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题4：什么时候才能得到邀请奖励？</string>
            <key>answer</key>
            <string>答：好友通过逛鱼搜索有效完成商品购买并提现成功后奖励才会到账，否则好友会处于"未激活"状态。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题5：什么是订单奖励？</string>
            <key>answer</key>
            <string>答：订单奖励是为了持续激励推广者通过不懈努力邀请好友使用逛鱼而设立的平台奖励，简单讲：好友获得返现，作为邀请者一样也能得到奖励。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题6：为什么需要提交订单号？</string>
            <key>answer</key>
            <string>答：订单号属于个人隐私，在用户没有授权的情况下我们不主动通过技术手段去获取订单号，因为在用户未知的情况下获取订单号属违法操作。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题7：我的历史订单那里查询？</string>
            <key>answer</key>
            <string>答：逛鱼不提供历史订单查询，用户提现后自动删除用户订单信息，只保留用户的总节省金额，如果用户对提现大的订单有疑问，可联系客服处理。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题8：逛鱼使用的流程是什么样的？</string>
            <key>answer</key>
            <string>答：
                1、复制淘宝商品的链接或标题
                2、打开逛鱼APP，自动弹出查询确认框，点击确定，自动搜索商品
                3、如果精确搜索出一条商品，APP会自动帮助你打开淘宝
                4、打开淘宝后会弹出商品弹出框，点击打开按钮
                5、完成商品购买，复制商品订单号
                6、打开逛鱼APP，确认订单号并提交绑定
                7、等待订单匹配，订单匹配最快1小时，最迟次日</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题9：已确认收货的订单失效了？</string>
            <key>answer</key>
            <string>答：这种是维权订单，是确认收货之后去申请退款了，属失效订单。</string>
        </dict>
        <dict>
            <key>question</key>
            <string>问题10：我下单了，逛鱼里怎么没显示订单和返现？</string>
            <key>answer</key>
            <string>答：跑单的几种情况如下
                1、领券后从返利网购买！
                2、使用支付宝红包奖励金购买！
                3、看了宝贝后当时没买，收藏了，从收藏夹购买！
                4、领券了后当时没买，后面从曾经浏览宝贝里面购买！
                5、与店铺优惠活动叠加使用！
                6、使用集分宝购买！
                7、使用淘金币购买！
                8、农村淘宝！ </string>
        </dict>
    </array>
</plist>
