<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>segueId</key>
			<string>ShowMineInfo</string>
			<key>imgName</key>
			<string>img_help</string>
			<key>title</key>
			<string>使用帮助</string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>segueId</key>
			<string>ShowZskfSegue</string>
			<key>imgName</key>
			<string>img_kf</string>
			<key>title</key>
			<string>专属客服</string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>segueId</key>
			<string>ShowAboutUsSegue</string>
			<key>imgName</key>
			<string>img_about_us</string>
			<key>title</key>
			<string>关于我们</string>
			<key>url</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
