<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>segueId</key>
			<string>ShowOrderInput</string>
			<key>imgName</key>
			<string>img_order_input</string>
			<key>title</key>
			<string>绑定订单</string>
		</dict>
		<dict>
			<key>segueId</key>
			<string>ShowOrderSearch</string>
			<key>imgName</key>
			<string>img_order_search</string>
			<key>title</key>
			<string>查看订单</string>
		</dict>
	</array>
</array>
</plist>
