<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>segueId</key>
			<string>ShowOrderSaveSegue</string>
			<key>imgName</key>
			<string>img_bddd</string>
			<key>title</key>
			<string>绑定订单</string>
            <key>url</key>
            <string></string>
		</dict>
		<dict>
			<key>segueId</key>
			<string>ShowOrderListSegue</string>
			<key>imgName</key>
			<string>img_ddss</string>
			<key>title</key>
			<string>查看订单</string>
            <key>url</key>
            <string></string>
		</dict>
        <dict>
            <key>segueId</key>
            <string>ShowMineInfo</string>
            <key>imgName</key>
            <string>img_grzx</string>
            <key>title</key>
            <string>个人中心</string>
            <key>url</key>
            <string></string>
        </dict>
        <dict>
            <key>segueId</key>
            <string>ShowOrderRewardSegue</string>
            <key>imgName</key>
            <string>img_ddjl</string>
            <key>title</key>
            <string>订单奖励</string>
            <key>url</key>
            <string></string>
        </dict>
        <dict>
            <key>segueId</key>
            <string>ShowFriendsHomeSegue</string>
            <key>imgName</key>
            <string>img_wdgy</string>
            <key>title</key>
            <string>我的逛友</string>
            <key>url</key>
            <string></string>
        </dict>
<!--        <dict>-->
<!--            <key>segueId</key>-->
<!--            <string>ShowWebViewControllerSegue</string>-->
<!--            <key>imgName</key>-->
<!--            <string>img_zskf</string>-->
<!--            <key>title</key>-->
<!--            <string>专属客服</string>-->
<!--            <key>url</key>-->
<!--            <string>https://www.guangfish.com/app/api/kefu</string>-->
<!--        </dict>-->
	</array>
</array>
</plist>
