<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>img_hot_all</string>
		<key>name</key>
		<string>全部</string>
	</dict>
    <dict>
        <key>img</key>
        <string>img_hot_nz</string>
        <key>name</key>
        <string>女装</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_nz</string>
        <key>name</key>
        <string>男装</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_my</string>
        <key>name</key>
        <string>母婴</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_sm</string>
        <key>name</key>
        <string>数码</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_xh</string>
        <key>name</key>
        <string>洗护</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_cz</string>
        <key>name</key>
        <string>彩妆</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_jj</string>
        <key>name</key>
        <string>家居</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_sp</string>
        <key>name</key>
        <string>食品</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_xb</string>
        <key>name</key>
        <string>箱包</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_jd</string>
        <key>name</key>
        <string>家电</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_bh</string>
        <key>name</key>
        <string>百货</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_yd</string>
        <key>name</key>
        <string>运动</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_ps</string>
        <key>name</key>
        <string>配饰</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_xz</string>
        <key>name</key>
        <string>鞋子</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_mc</string>
        <key>name</key>
        <string>萌宠</string>
    </dict>
    <dict>
        <key>img</key>
        <string>img_hot_qcyp</string>
        <key>name</key>
        <string>汽车用品</string>
    </dict>
</array>
</plist>
