<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1.复制拷贝淘宝商品标题或链接</string>
		<key>image</key>
		<string>tbsy1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2.打开逛鱼APP，在搜索页面搜索商品</string>
		<key>image</key>
		<string>tbsy2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3.点击搜索出的商品，返回淘宝</string>
		<key>image</key>
		<string>tbsy3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4.复制订单编号，在逛鱼APP中完成订单绑定</string>
		<key>image</key>
		<string>tbsy4</string>
	</dict>
</array>
</plist>
